<!doctype html>
<html>
  <head>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="../vue.js"></script>
    <!-- <script src="../vue.min.js"></script> -->
  </head>

  <body>
    <div id="app">
      <p>{{ message }}</p>
    </div>

    <hr />

    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
      </span>
    </div>

    <hr />

    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>

    <hr />

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <hr />

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <hr />

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <hr />

    <div id="app-7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id">
        </todo-item>
      </ol>
    </div>

    <hr />

    <div id="example-1">
      <button v-on:click="counter += 1">Add 1</button>
      <p>The button above has been clicked {{ counter }} times.</p>
    </div>

    <hr />

    <div id="example-2">
      <!-- `greet` is the name of a method defined below -->
      <button v-on:click="greet">Greet</button>
    </div>

    <hr />

    <div id="example-3">
      <button v-on:click="say('hi')">Say hi</button>
      <button v-on:click="say('what')">Say what</button>
    </div>

    <hr />

    <div id="todo-list-example">
      <p>
        To-do List Example
      </p>
      <input
        v-model="newTodoText"
        v-on:keyup.enter="addNewTodo"
        placeholder="Add a todo"
      >
      <ul>
        <li
          is="todo-item"
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)"
        ></li>
      </ul>
    </div>

    <hr />

    <div id="example-5">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <hr />

    <div id="example-6">
      <span>Multiline message is:</span>
      <p style="white-space: pre-line">{{ message }}</p>
      <br>
      <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <hr />

    <div id="counter-event-example">
      <p>Total: {{ total }}</p>
      <button-counter v-on:increment="incrementTotal"></button-counter>
      <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>

    <script src="example-script.js"></script>
  </body>
</html>